@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body,
  html {
    @apply font-sans;
  }
}

@layer components {
  .page {
    @apply relative flex flex-col min-h-screen;
  }

  .main {
    @apply flex-1;
  }

  .loading-progress {
    @apply relative block w-32 h-32 mx-auto mt-[20vh] mb-4;
  }

  .loading-progress circle {
    @apply fill-none stroke-indigo-200;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }

  .loading-progress circle:last-child {
    @apply stroke-blue-500 transition-all duration-75 ease-in-out;
    stroke-dasharray: calc(var(--blazor-load-percentage, 0%) * 3.141 * 0.8),
      500%;
  }

  .loading-progress-text {
    @apply absolute text-center font-bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
  }

  #blazor-error-ui {
    @apply fixed bottom-0 left-0 w-full z-[1000] bg-yellow-100 hidden shadow-lg;
    padding: 0.6rem 1.25rem 0.7rem;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  }

  #blazor-error-ui .dismiss {
    @apply absolute top-2 right-3 cursor-pointer;
  }
}
